{% from "macros/_button.njk" import button %}
<div class="page-header">
  <h1>Buttons</h1>
</div>

<p>
  {{button(size="lg", class="default", text="Default")}}
  {{button(size="lg", class="primary", text="Primary")}}
  {{button(size="lg", class="success", text="Success")}}
  {{button(size="lg", class="info", text="Info")}}
  {{button(size="lg", class="warning", text="Warning")}}
  {{button(size="lg", class="danger", text="Danger")}}
  {{button(size="lg", class="link", text="Link")}}
</p>
<p>
  {{button(class="default", text="Default")}}
  {{button(class="primary", text="Primary")}}
  {{button(class="success", text="Success")}}
  {{button(class="info", text="Info")}}
  {{button(class="warning", text="Warning")}}
  {{button(class="danger", text="Danger")}}
  {{button(class="link", text="Link")}}
</p>
<p>
  {{button(size="sm", class="default", text="Default")}}
  {{button(size="sm", class="primary", text="Primary")}}
  {{button(size="sm", class="success", text="Success")}}
  {{button(size="sm", class="info", text="Info")}}
  {{button(size="sm", class="warning", text="Warning")}}
  {{button(size="sm", class="danger", text="Danger")}}
  {{button(size="sm", class="link", text="Link")}}
</p>

<div class="mt-2">
  <div class="page-header">
    <h1>Outline Buttons</h1>
  </div>

  <p>
    {{button(size="lg", class="primary", text="Primary", outline=true)}}
    {{button(size="lg", class="success", text="Success", outline=true)}}
    {{button(size="lg", class="info", text="Info", outline=true)}}
    {{button(size="lg", class="warning", text="Warning", outline=true)}}
    {{button(size="lg", class="danger", text="Danger", outline=true)}}
  </p>
  <p>
    {{button(class="primary", text="Primary", outline=true)}}
    {{button(class="success", text="Success", outline=true)}}
    {{button(class="info", text="Info", outline=true)}}
    {{button(class="warning", text="Warning", outline=true)}}
    {{button(class="danger", text="Danger", outline=true)}}
  </p>
  <p>
    {{button(size="sm", class="primary", text="Primary", outline=true)}}
    {{button(size="sm", class="success", text="Success", outline=true)}}
    {{button(size="sm", class="info", text="Info", outline=true)}}
    {{button(size="sm", class="warning", text="Warning", outline=true)}}
    {{button(size="sm", class="danger", text="Danger", outline=true)}}
  </p>
</div>
