<!-- TYPEKIT -->
<script type="text/javascript">
  var Typekit = (function(){
    return {
      load: function() {
        console.warn('Replace or remove the _typekit partial.');
      }
    }
  })();
</script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- /TYPEKIT -->
