// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 970px,
  xl: 1200px
) !default;


$grid-gutter-width-base:         30px;
//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

//_ Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width-base) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

//_ Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width-base) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

//_ Large screen / wide desktop
$container-large-desktop:      (940px + $grid-gutter-width-base) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
$enable-flex: true;
