{% extends "layout/_layout.njk" %}

{% block content %}
  {% set imageDir = global.dir.images %}
  {% set data = global.views.groupCleanse %}

  {% include "components/header.njk" %}
  <!-- MAIN -->
  <main role="main" class="main-body mt-3 mb-3">
    <div class="container ">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Theme example</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
      </div>

      <section class="mt-2">
        {% include "components/buttons.njk" %}
      </section>
      {# <section class="mt-2">
        {% include "components/tables.njk" %}
      </section> #}
      <section class="mt-2">
        {% include "components/alerts.njk" %}
      </section>
    </div>
    <!-- /container -->
  </main>
  <!-- / MAIN -->
  {% include "components/footer.njk" %}

{% endblock %}
